<div>
  <!-- h -->
  <audio data-key="72" src="../assets/sounds/h-ride-2.wav"></audio>
  <!-- j -->
  <audio data-key="74" src="../assets/sounds/j-snare.wav"></audio>
  <!-- k -->
  <audio data-key="75" src="../assets/sounds/k-tis.wav"></audio>
  <!-- l -->
  <audio data-key="76" src="../assets/sounds/l-tik.wav"></audio>
  <!-- n -->
  <audio data-key="78" src="../assets/sounds/n-hat.wav"></audio>
  <!-- m -->
  <audio data-key="77" src="../assets/sounds/m-tom.wav"></audio>
  <!-- i -->
  <audio data-key="73" src="../assets/sounds/i-clash-2.wav"></audio>
  <!-- u -->
  <audio data-key="85" src="../assets/sounds/u-clash.wav"></audio>
</div>
