<div>
  <!-- h -->
  <audio data-key="72" src="../assets/audio/h-tuk.wav"></audio>
  <!-- j -->
  <audio data-key="74" src="../assets/audio/j-snare.wav"></audio>
  <!-- k -->
  <audio data-key="75" src="../assets/audio/k-clap.wav"></audio>
  <!-- l -->
  <audio data-key="76" src="../assets/audio/l-floortom.wav"></audio>
  <!-- n -->
  <audio data-key="78" src="../assets/audio/n-hihat.wav"></audio>
  <!-- m -->
  <audio data-key="77" src="../assets/audio/m-kick.wav"></audio>
  <!-- i -->
  <audio data-key="73" src="../assets/audio/i-crash.wav"></audio>
  <!-- u -->
  <audio data-key="85" src="../assets/audio/u-ride.wav"></audio>
</div>
