<main class="main-container">
  <div class="grid-container">
    <div class="main-key grid-item-1 js-key">
      <small>h</small>
      <div class="key-bg-opacity"></div>
    </div>
    <div class="main-key grid-item-2">
      <small>j</small>
      <div class="key-bg-opacity"></div>
    </div>
    <div class="main-key grid-item-3">
      <small>k</small>
      <div class="key-bg-opacity"></div>
    </div>
    <div class="main-key grid-item-4">
      <small>u</small>
      <div class="key-bg-opacity"></div>
    </div>
    <div class="main-key grid-item-5">
      <small>m</small>
      <div class="key-bg-opacity"></div>
    </div>
  </div>
</main>
