<main class="main-container">
  <div class="grid-container">
    <!-- tuk -->
    <div data-key="72" class="main-key grid-item-1 js-key">
      <small>h</small>
      <small class="main-sound">tuk</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- snare -->
    <div data-key="74" class="main-key grid-item-2 js-key">
      <small>j</small>
      <small class="main-sound">snare</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- clap -->
    <div data-key="75" class="main-key grid-item-3 js-key">
      <small>k</small>
      <small class="main-sound">clap</small>
      <div data-key="85" class="key-bg-opacity"></div>
    </div>
    <!-- floortom -->
    <div data-key="76" class="main-key grid-item-4">
      <small>l</small>
      <small class="main-sound">tom</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- ride -->
    <div data-key="85" class="main-key grid-item-5 js-key">
      <small>u</small>
      <small class="main-sound">ride</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- crash -->
    <div data-key="73" class="main-key grid-item-6 js-key">
      <small>i</small>
      <small class="main-sound">crash</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- hihat -->
    <div data-key="78" class="main-key grid-item-7 js-key">
      <small>n</small>
      <small class="main-sound">hihat</small>
      <div class="key-bg-opacity"></div>
    </div>
    <!-- kick -->
    <div data-key="77" class="main-key grid-item-8 js-key">
      <small>m</small>
      <small class="main-sound">kick</small>
      <div class="key-bg-opacity"></div>
    </div>
  </div>
</main>
