.header {
  &-container {
    text-align: center;
    color: $primaryColor;
    font-size: $headerFontSize;
    margin-bottom: 3rem;
    width: 60vw;
  }
}

@media all and (min-width: 768px) {
  .header {
    &-container {
      font-size: $headerFontSizeBigger;
    }
  }
}
